<article class="cart-line-item">
  <div class="cart-line-item__media">
    {%- if item.image != blank -%}
      {{ item.image | image_url: width: 240 | image_tag: loading: 'lazy', widths: '100, 160, 240', alt: item.product.title | escape }}
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
  <div>
    <h3 class="cart-line-item__title">{{ item.product.title }}</h3>
    <div class="cart-line-item__meta">{{ item.quantity }} × {{ item.final_price | money }}</div>
  </div>
</article>
